<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/pages/index.html">WebShop</a>
        <a class="navbar-brand" href="/pages/products.html">Products</a>
        <a class="navbar-brand" href="/pages/single-product.html">Single Product</a>
        <a class="navbar-brand" href="/pages/basket.html">Basket</a>
        <a class="navbar-brand" href="/pages/user-profile.html">User</a>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search a product" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div class="text-info">Welcome USERNAME</div>
    </div>
</nav>