<!--bootstrap card for products-->
<div class="col-12 col-md-6">
    <div class="card text-bg-dark">
        <img src="/product-images/product-apple.jpg" class="card-img-top p-2" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the card's
                content.
            </p>
            <div class="col-12 align-items-center justify-content-center text-center">
                <a href="/single-product.html" class="btn btn-primary d-inline-block">Go somewhere</a>
            </div>
        </div>
    </div>
</div>